
@{
    ViewBag.Title = "我要创业";
    ViewBag.bgImage = "http://pic2.ooopic.com/12/19/25/59b1OOOPIC45.jpg";
}

<hr />
<div>

    <div class="pull-left" style="width:25%;">
        <img class="img-responsive" src="http://static4.depositphotos.com/1003329/330/i/950/depositphotos_3307194-Icon-with-flag-of-Brazil.jpg" />
    </div>
    <div class="pull-left">
        <h3>纳兰容若 - 公会会长</h3>
        <p>您还不是授权用户</p>
        <p>会员ID：9528</p>
        <p>服务商编号：系统</p>
    </div>

</div>
<div class="clearfix">...</div>
<div>
    <hr />
    <h4>全国代理统一价：<span>￥：69</span></h4>
    <p>（此费用为软件使用费，不含充值流量费）</p>
    <p>我已阅读并同意<a>《系统在线使用服务协议》</a></p>
    <br /><br />
    <button type="button" class="btn btn-primary btn-lg btn-block"> 立 即 加 盟 </button>
</div>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
