
@{
    ViewBag.Title = "个人中心";

}
@section head
{
    <link rel="stylesheet" href="~/Content/wp-user.css" />
}

<header>
    <div class="user-info">

        <img src="@ViewBag.Logo" />

        <div class="info">
            <div class="name">
                @ViewBag.nickName
            </div>
            <div class="desc">
                @ViewBag.desc
            </div>

        </div>
    </div>
</header>
<div class="user-opt">
    <ul>
        <li click-para="2"><span class="glyphicon glyphicon-phone"></span> 绑定手机<span class="point glyphicon glyphicon-menu-right" aria-hidden="true"></span></li>
        <li click-para="4"><span class="glyphicon glyphicon-lock"></span> 安全中心<span class="point glyphicon glyphicon-menu-right"></span></li>
        <li click-para="1"><span class="glyphicon glyphicon-list-alt"></span> 我的订单<span class="point glyphicon glyphicon-menu-right"></span></li>
        <li click-para="5"><span class="glyphicon glyphicon-heart"></span> 关注我们，天天有惊喜！</li>
    </ul>

    @*<div class="ewm">
            <img id="imgPersonCodeImg" src="<%=ImgCodePath %>" width="155" height="155"/>
            <div class="ewm_samlpic">
                <img src="<%=PersonHeadImg %>" width="40" height="40"/>
            </div>
        </div>*@

</div>


