<?xml version="1.0" encoding="utf-8" ?>
<appSettings>

  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  
  
  <!--3des 加密key-->
  <add key="TDES_Key" value="WXdYics0aD2U9asiCmLXrVgk"/>
  <add key="TDES_IV" value="01234567"/>


  <!--WX-->
  <add key="wxToken" value="colin09X4b7OA2jkHJnJ4U6U53nq8"/>
  <add key="wxAppId" value="wx2265477fde928230"/>
  <add key="wxAppSecret" value="3ef864f0b5424e886b79211ee79d1d35"/>
  <add key="wxEncodingAESKey" value="BsulHRbybMKJBT0js42hQMfe73QODg51HdU0hORu4hP"/>
  
  <add key="wxDataPath" value="D:\inetpub"/>
  
  
  <add key="WxApiDomain" value="https://open.weixin.qq.com/"/>
  
  <add key="sourceDomain" value="https://127.0.0.1:8093/"/>
  
  
  <!--MongoDb-->
  <add key="MgConn" value="mongodb://hui:123456@127.0.0.1:27017"/>
  <add key="MgDBName" value="hui"/>
  <add key="MgPrefix" value=""/>

  <!--RibbitMQ-->
  <add key="MqHost" value="127.0.0.1"/>
  <add key="MqUser" value="mq_coco"/>
  <add key="MqPwd" value="mq123456"/>
  <add key="MqExchange" value="co_ex"/>
  <add key="MqQueue" value="co_queue"/>
  
  
  

</appSettings>