<?xml version="1.0" encoding="utf-8" ?>
<appSettings>

  <!--3des 加密key-->
  <add key="TDES_Key" value="WXdYics0aD2U9asiCmLXrVgk"/>
  <add key="TDES_IV" value="01234567"/>


  <!--MongoDb-->
  <add key="MgConn" value="mongodb://192.168.1.130:27017"/>
  <add key="MgDBName" value="mg_coco"/>
  <add key="MgPrefix" value="hui"/>

  <!--Mq-->
  <add key="MqHost" value="http://127.0.0.1"/>
  <add key="MqUser" value="mq_coco"/>
  <add key="MqPwd" value="mq123456"/>
  <add key="MqExchange" value="co_ex"/>
  <add key="MqQueue" value="co_queue"/>
  
  <!--WX-->
  <add key="wxToken" value="colin09X4b7OA2jkHJnJ4U6U53nq8"/>
  <add key="wxAppId" value="wx2265477fde928230"/>
  <add key="wxAppSecret" value="3ef864f0b5424e886b79211ee79d1d35"/>
  <add key="wxEncodingAESKey" value="BsulHRbybMKJBT0js42hQMfe73QODg51HdU0hORu4hP"/>
  
  <add key="wxDataPath" value="D:\inetpub"/>

  <add key="WxAuthDomain" value="http://www.colin-9.net/"/>
  <add key="ShopDomain" value="http://www.colin-9.com/"/>
  <add key="WxOpenName" value="香格里拉"/>
  <add key="WxFollowReply" value="小风子等你好久啦！感谢关注自由风环球旅拍公众平台，有什么问题可以随时骚扰小编哦/玫瑰/玫瑰/玫瑰" />

  <add key="SysHelpUrl" value="About/Buiness"/>
  <add key="JoinUsUrl" value="Server/Join"/>

</appSettings>