<!doctype html>
<html ng-app="spicyApp1">
  <head>
    <!-- <script src="http://code.angularjs.org/1.2.25/angular.min.js"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.min.js"></script>
	<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="script.js"></script>
  </head>
  <body>
    <div ng-app="spicyApp1" ng-controller="TssController">
     <button ng-click="chiliSpicy()">Chili</button>
     <button ng-click="jalapenoSpicy()">Jalapeño</button>
     <p>The food is  {{spice}}!</p>
    </div>
  </body>
</html>