@{
    ViewData["Title"] = "Canvas";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<!-- <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
<div>


<ul>
    <li class="pull-left btn" id="menuNewTxt"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> TXT </li>
    <li class="pull-left btn" id="menuNewImg"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> IMG </li>
    <li class="pull-left btn" id="menuNewVio"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> VIO </li>
    <li class="pull-left btn" id="menuNewDel"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> DEL </li>
    <li class="clear"></li>
</ul>
<canvas id="canvasEditer" width="800" height="600" style="border:1px solid #d3d3d3;">
您的浏览器不支持 HTML5 canvas 标签，请升级或更换其他浏览器。</canvas>

</div>

@section scripts {
    <!-- <script src="~/js/canvas-editer.js"></script> -->
    <script src="/js/canvas-editer.js"></script>
}