<?xml version="1.0" encoding="utf-8" ?>
<appSettings>

  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  
  
  <!--3des 加密key-->
  <add key="TDES_Key" value="WXdYics0aD2U9asiCmLXrVgk"/>
  <add key="TDES_IV" value="01234567"/>

  <add key="wxColinToken" value="colin09X4b7OA2jkHJnJ4U6U53nq8"/>
  <add key="WxAuthDomain" value="http://www.colin-9.net/"/>
  <add key="WxApiDomain" value="https://open.weixin.qq.com/"/>
  
  
  <!--MongoDb-->
  <add key="MgConn" value="mongodb://192.168.1.130:27017"/>
  <add key="MgDBName" value="mg_coco"/>
  <add key="MgPrefix" value="hui"/>

  <!--MongoDb-->
  <add key="MqHost" value="http://127.0.0.1"/>
  <add key="MqUser" value="mq_coco"/>
  <add key="MqPwd" value="mq123456"/>
  <add key="MqExchange" value="co_ex"/>
  <add key="MqQueue" value="co_queue"/>

</appSettings>