
@{
    ViewBag.Title = "Index";
}

<h2>门店管理</h2>

<table class="table table-striped" ms-controller="vm-store">
    <tr>
        <th>#</th>
        <th>名称</th>
        <th>地址</th>
        <th>联系人</th>
        <th>电话</th>
        <td>邮箱</td>
        <td></td>
    </tr>
    <tr ms-repeat="list">
        <th>{{$index+1}}</th>
        <td>{{el.name}}</td>
        <td>{{el.addr}}</td>
        <td>{{el.contact}}</td>
        <td>{{el.mobile}}</td>
        <td>{{el.email}}</td>
        <td>
            <button ms-click="qrcode(el)">
                <span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span>
            </button>
            <button ms-click="show(el)">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </button>
            <button ms-click="del(el)">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
        </td>
    </tr>
    <tr>
        <td></td>
        <td colspan="6">
            @Html.Partial("_PageLayout")
        </td>
    </tr>
    <tr>
        <th>#<input type="hidden" id="newId" /></th>
        <td><input type="text" ms-duplex-string="nName" placeholder="name"/></td>
        <td><input type="text" ms-duplex-string="nAddr" placeholder="address"/></td>
        <td><input type="text" ms-duplex-string="nContact" placeholder="contact"/></td>
        <td><input type="text" ms-duplex-string="nMobile" placeholder="mobile"/></td>
        <td><input type="text" ms-duplex-string="nEmail" placeholder="e-mail"/></td>
        <td>
            <button ms-click="create">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </button>
            <button ms-click="reset">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
            </button>
            <button ms-click="edit">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </button>
        </td>
    </tr>
</table>

@section scripts{
    <script src="~/Scripts/js/m-store.js"></script>
}