@{
    ViewBag.Title = "关于我们";
}
@section head
{
    <link rel="stylesheet" href="~/Content/home.css" />
}
<div class="container-full bc-g">
    <div class="container about">
        <div class="pageTitle">
            <span class="fs36">关于我们</span><br />
            <span class="fs16">Shooting technique</span>
        </div>
        <img src="~/Images/gy-01.jpg" />
        <p>“自由风环球旅拍”来自安达曼海上的珍珠——普吉岛，在普吉府拥有自己的摄影基地，全华人摄影团队和化妆团队。牵手泰国手工艺服装原创设计师，为客户定制独一无二的泰式风情。</p>
        <div class="aboutItem">
            <div>
                服务理念 <span class="c6 fs16"> service idea</span>
            </div>
        </div>
        <p>
            自由风环球旅拍以“捕捉平凡人的美丽瞬间”为服务宗旨，为客户量身定制最契合的摄影风格，从服装、造型到后期产品设计，全程最大程度的考虑客户喜好并提供专业建议，以专业的品质、一流的服务竭诚为客户打造别具一格的时尚大片。
            自由风环球旅拍坚持原创风格，“不开发样片，不聘请模特”拒绝千篇一律，坚持创新，追求极具个性、灵动优雅的摄影作品。
        </p>
        <p>自由风环球旅拍首创拍摄期间十大保障和百分百满意承诺，拍摄期间无任何隐性消费，增加项目明码标价，杜绝摄影行业后期推销的诟病。</p>

        <ul>
            <li class="w600">
                <div class="aboutItem">
                    <div>
                        公司动态 <span class="c6 fs16"> Company dynamics</span>
                    </div>
                </div>
                <p>为了提供更精彩的服务体验，2015年10月自由风旗下子公司—武汉汇行天下商务旅行有限责任公司正式成立，选址江城武汉为大陆市场推广运营中心。提供机票、酒店预订，机场接送服务，婚纱礼服租赁，婚纱摄影信息咨询等一系列配套服务，旨在为广大客户打造一个“蜜月 + 婚拍”的一站式旅拍服务平台。</p>

                <div class="aboutItem">
                    <div>
                        联系我们 <span class="c6 fs16"> Contact us</span>
                    </div>
                </div>
                <p style="text-indent:0;">
                    Q Q:154466430<br />
                    微信：ziyoufeng2020<br />
                    电话：027-84704919<br />
                    地址：武汉市汉阳区钟家村汉商大厦1612室<br />
                </p>
            </li>
            <li><img src="~/Images/gy-02.jpg" /></li>
            <div class="clear"></div>
        </ul>
    </div>
</div>