<?xml version="1.0" encoding="utf-8"?>
<configuration>


  <log4net>
    <!-- 信息日志类,  name: 日志类的名字 -->
    <logger name="loginfo">
      <!-- 定义记录的日志级别-->
      <!--level定义记录的日志级别,就是说,你要记录哪个级别以上的日志,级别由高往低依次是:
          None
          Fatal
          ERROR
          WARN
          DEBUG
          INFO
          ALL
       -->
      <level value="ALL" />
      <!-- 记录到什么介质中 => 如：ErrorAppender、InfoAppender-->
      <appender-ref ref="InfoAppender" />
    </logger>
    
    <!-- 错误日志附加介质, name属性指定其名称,type则是log4net.Appender命名空间的一个类的名称,意思是,指定使用哪种介质-->
    <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
      <!-- 输出到什么目录-->
      <param name="File" value="Log\\LogInfo\\" />
      <!-- 是否覆写到文件中-->
      <param name="AppendToFile" value="true" />
      <!-- 备份文件的个数-->
      <param name="MaxSizeRollBackups" value="100" />
      <!-- 单个日志文件最大的大小； 可以使用"KB", "MB" 或 "GB"为 MaxFileSize 作为后缀限定大小。默认的文件大小是10MB。-->
      <param name="MaxFileSize" value="10240" />
      <!--是否采用静态文件名-->
      <param name="StaticLogFileName" value="false" />
      <!--日期格式，当我们设置了RollingStyle 为Date方式后，Log4Net会自动使用DatePattern 中的日期格式来创建新的日志文件-->
      <param name="DatePattern" value="yyyyMMdd&quot;.htm&quot;" />
      <!--是文件创建的方式-->
      <param name="RollingStyle" value="Date" />
      <!--布局-->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="&lt;HR COLOR=red&gt;%n异常时间：%d [%t] &lt;BR&gt;%n异常级别：%-5p &lt;BR&gt;%n异 常 类：%c [%x] &lt;BR&gt;%n%m &lt;BR&gt;%n &lt;HR Size=1&gt;"  />
        <!--
        %m[%message]	输出的日志消息
        %n	换行
        %d[%datetime]	输出当前语句运行的时刻
        %r 	输出程序从运行到执行到当前语句时消耗的毫秒数
        %t	当前语句所在的线程ID
        %p	日志的当前优先级别
        %c	当前日志对象的名称
        %L 	输出语句所在的行号
        %F	输出语句所在的文件名
        %-数字 	表示该项的最小长度，如果不够，则用空格填充
        -->
      </layout>
    </appender>
    
    
    
    <!-- 信息日志附加介质-->
    <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log\\LogInfo\\" />
      <param name="AppendToFile" value="true" />
      <param name="MaxFileSize" value="10240" />
      <param name="MaxSizeRollBackups" value="100" />
      <param name="StaticLogFileName" value="false" />
      <param name="DatePattern" value="yyyyMMdd&quot;.htm&quot;" />
      <param name="RollingStyle" value="Date" />
      <!-- 信息日志布局-->
      <layout type="log4net.Layout.PatternLayout">
        <!--<param name="ConversionPattern" value="&lt;HR COLOR=blue&gt;%n日志时间：%d [%t] &lt;BR&gt;%n日志级别：%-5p &lt;BR&gt;%n日 志 类：%c [%x] &lt;BR&gt;%n%m &lt;BR&gt;%n &lt;HR Size=1&gt;"  />-->
        <param name="ConversionPattern" value="&lt;HR&gt; %-5p ：%d [%t] %n&lt;BR&gt; %n%m &lt;BR&gt;%n&lt;BR&gt;"  />
      </layout>
    </appender>
  </log4net>
</configuration>