<nav>
    <ul class="pagination" data-index="1">
        <li data-page="-1">
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @*<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>*@
        <li class="num active"><a href="#">2</a></li>
        <li data-page="+1">
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>