
@{
    ViewBag.Title = "我的账户";
}

<div>
    <div class="pull-left" style="width:25%; text-align:center;">
        <img class="img-responsive" src="http://static4.depositphotos.com/1003329/330/i/950/depositphotos_3307194-Icon-with-flag-of-Brazil.jpg" />
        <p>级别：粉丝</p>
    </div>
    <div class="pull-left">
        <h3>纳兰容若 - 公会会长</h3>
        <p>会员ID：9528</p>
        <p>我的服务商：系统</p>
        <p>关注时间：@DateTime.Now.ToString("yyyy-MM-dd")</p>
    </div>
</div>

<div class="clearfix"></div>

<div>
    <table class="table table-bordered" style="margin:25px 0px; border-left:0px; border-right:0px;">
        <tr>
            <td style="width:36%; text-align:center; border-left:0px;">
                ￥100.00
                <br />
                销售总额（元）
            </td>
            <td style="width:36%; text-align:center;">
                ￥100.00
                <br />
                提成总额（元）
            </td>
            <td style="width:28%; text-align:center; border-right:0px;">
                <img src="" />
                <br />
                我要提成
            </td>
        </tr>
    </table>
</div>

<div>

    <table class="table">
        <tr>
            <td>我的代理</td>
            <td style="width:20%;"><span class="badge">0人</span></td>
        </tr>
        <tr>
            <td style="padding-left:25px;">一级代理</td>
            <td>0人</td>
        </tr>
        <tr>
            <td style="padding-left:25px;">二级代理</td>
            <td>0人</td>
        </tr>
        <tr>
            <td style="padding-left:25px;">三级代理</td>
            <td>0人</td>
        </tr>
    </table>

</div>